<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="DocDB-UI.ZPM">
    <Module>
      <Name>DocDB-UI</Name>
      <ExternalName>DocDBUI</ExternalName>
      <Version>1.0.3</Version>
      <Description>A streamlined explorer for InterSystems IRIS Document Databases.</Description>
      <Keywords>DocDB, json, document database,schemaless</Keywords>
      <Packaging>module</Packaging>
      <Resource Name="DocDB.PKG"/>
      <LifecycleClass>%IPM.Lifecycle.Module</LifecycleClass>
    </Module>
  </Document>
</Export>